.expense-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: .5rem;
    color: white;
    border-radius: .5rem;
}
.expense-date__month{
    font-size: 20px;
    font-weight: 600;
}
.expense-date__day{
    font-size: 25px;
    font-weight: 800;
}